# Large bio data / archives
*.fna
*.faa
*.fasta
*.fa
*.gz
*.zip
*.msh

# NCBI datasets output folders
ncbi_dataset/
batch_*/
genophi_batch_*/

# Project outputs (keep scripts, not generated data)
outputs/
runs/
mash/

# more local folders
ecoli_hosts_200/
results/*.csv
results/*.tsv

# Python
__pycache__/
*.pyc

# OS
.DS_Store
